@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --lg-font-size-header: 26px;
    --lg-font-size-subheaderText: 16px;
    --lg-font-size-footerText: 10px;
}

.headerText{
    font-size: var(--lg-font-size-header);
    font-family: 'inter';
}

.subheaderText{
    font-size: var(--lg-font-size-subheaderText);
}

.footerText{
    font-style: var(--lg-font-size-footerText);
}

.boxshadow{
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.18);
}

body{
    font-family: "Inter", sans-serif;
}
