.headerText{
    font-size: 26px;
}

.subheaderText{
    font-size: 16px;
}

.footerText{
    font-style: 10px;
}

.boxshadow{
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.18);
}
