.header {
    /* flex items-center gap-2 */
    display: flex;
    align-items: center;
    gap: 4px;
}
.card{
    background-color: #F0F3FA;
    border-radius: 14px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.radioButton {
    border-radius: 6px;
    padding: 12px 20px 12px 12px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.selected{
    background-color: #628ECE;
    color: #fff;
}

label{
    font-size: var(--lg-font-size-subheaderText);
    font-weight: 600;
    margin-bottom: 8px;
}

/* border-[#D2D2D2] border-2 rounded-[10px] h-11 w-[40vw] */
select, input{
    border-width: 2px;
    border-color: #D2D2D2;
    border-radius: 10px;
    height: 44px;
    color: #111827;
    padding: 0px 12px 0px 12px;
    cursor: pointer;
}

select:has(option[value=""]:checked){
    color: #D2D2D2;
}

select:not(:has(option[value=""]:checked)) {
    border-color: #111827;
}

input[type="text"]:not(:placeholder-shown){
    border-color: #111827;
}

input[type="date"]{
    color: #D2D2D2;
}

input[type="date"]:valid{
    color: #111827;
}

select option{
    color: #111827;
    border-radius: 20px;
}

select:valid {
    color: #111827; /* item lain, warna normal */
}


